@use "sass:map";

@use "../../../../styles/abstracts/index.scss" as *;

.container {
  // Base setting.
  border-radius: map.get($spacings, lg);

  @include media(xs) {
    padding: map.get($spacings, xxs);
    column-gap: map.get($spacings, sm);
    padding-left: map.get($spacings, xxs);
  }

  @include media(md) {
    padding: map.get($spacings, xxs);
    column-gap: map.get($spacings, lg);
    padding-left: map.get($spacings, sm);
  }
}

.lineInput {
  @include media(xs) {
    font-size: map.get($font-sizes, md);

    &::placeholder {
      font-size: map.get($font-sizes, sm);
    }
  }

  @include media(md) {
    font-size: map.get($font-sizes, lg);

    &::placeholder {
      font-size: map.get($font-sizes, md);
    }
  }
}

.validationCircle {
  @include media(xs) {
    width: map.get($spacings, lg);
    height: map.get($spacings, lg);
  }

  @include media(md) {
    width: map.get($spacings, xl);
    height: map.get($spacings, xl);
  }
}
