@use "./lineInput.breakpoints";

.container {
  display: flex;
  align-items: center;

  transition: box-shadow 0.5s, border-color 0.5s;
}

.lineInput {
  color: white;
  font-family: $belgica;

  border: none;
  outline: none;
  background: none;

  &::placeholder {
    color: #acf8;
  }
}

.validationCircle {
  border-radius: 50%;
  transition: background-color 0.5s;
}
