.backgroundSlider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 0;
}

.bgImage.active {
  opacity: 1;
  z-index: 1;
}
