@use "sass:map";

@use "../../../../styles/abstracts" as *;

.picInfo {
  // Base settings.
  left: map.get($spacings, xxs);
  bottom: map.get($spacings, xxs);

  @include media(xs, sm) {
    @include orientation(portrait) {
      font-size: map.get($font-sizes, sm);
      column-gap: map.get($spacings, sm);
    }

    @include orientation(landscape) {
      left: map.get($spacings, xs);
      bottom: map.get($spacings, xs);
      font-size: map.get($font-sizes, xs);
      column-gap: map.get($spacings, xs);
    }
  }

  @include media(sm) {
    left: map.get($spacings, sm);
    bottom: map.get($spacings, sm);
    font-size: map.get($font-sizes, sm);
    column-gap: map.get($spacings, sm);
  }
}
