@use "picInfo.breakpoints";

.picInfo {
  @include card-box(7px, 10px);

  position: absolute;

  display: flex;
  align-items: center;

  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;

  h3 {
    color: white;
  }

  a {
    color: #cefe;
  }
}
