.picInfo {
  @include card-box(7px, 10px);

  position: absolute;
  left: 10px;
  bottom: 10px;

  display: flex;
  column-gap: 10px;
  align-items: center;

  z-index: 3;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;

  h3 {
    color: white;
  }

  a {
    color: #cefe;
  }
}
