$glacier: #e0f7fa; // Primary in light theme.
$icyfjord: #bdcae0; // Secondary in light theme.

$monica: #faacea; // Soft pink.
$croissant: #f5e1a4; // Creammy-yellow.
$old-sedan: #adbbcb; // Gray with blue shade.
$chromium: #d1d5db; // Lucide white.
$croissant: #f5deb3; // Soft yellow.
$europe-sky: #9ec6e6; // Soft blue.
$boutique: #7e7dc9; // Soft purple.
$peach: #ffcc99;
$lemonade: #fbe8a6;
$copen-air: #a3d2ca;
$toothpaste: #d0f0ec;
$glamour: #e6add8;
