$scandic: "Roboto", "Inter", "Manrope", "Sora";
$belgica: Arial, Helvetica, sans-serif;
$bawaria: "Playwrite DE SAS";

$font-sizes: (
  xxs: 4px,
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 30px,
  xxl: 40px,
);
