$breakpoints: (
  xs: 320px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

$spacings: (
  xxs: 2px,
  xs: 6px,
  sm: 12px,
  md: 16px,
  lg: 20px,
  xl: 30px,
  xxl: 40px,
);
