$breakpoints: (
  xs: 320px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

$spacings: (
  xxs: 2px,
  xs: 6px,
  sm: 12px,
  md: 16px,
  lg: 20px,
  xl: 30px,
  xxl: 40px,
);

$display-sizes: (
  xxs: 60px,
  xs: 80px,
  sm: 100px,
  md: 120px,
  lg: 140px,
  xl: 160px,
  xxl: 180px,
);

$layout-sizes: (
  xxs: 200px,
  xs: 300px,
  sm: 600px,
  md: 860px,
  lg: 1020px,
  xl: 1260px,
  xxl: 2260px,
)
