@use "./submitButton.breakpoints";

.submitButton {
  border: none;
  box-shadow: 0px 0px 12px #6af;
  visibility: visible;
  border-radius: 24px;

  color: white;
  cursor: pointer;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6af;

  transition: visibility 0.5s, box-shadow 0.5s, background-color 0.5s;

  &:hover {
    box-shadow: 0px 0px 12px #86f;
    background-color: #86f;
  }

  &:disabled {
    visibility: hidden;
  }
}

.submission {
  opacity: 0.5;
  cursor: progress;
}
