@use "sass:map" as map;

@use "../../../styles/abstracts/" as *;

.stack {
  @include media(xs, sm) {
    @include orientation(portrait) {
      width: 100%;
      height: 60%;
      margin-top: 5%;
      margin-left: 5%;
    }

    @include orientation(landscape) {
      width: 80%;
      height: 50%;
      margin: 5% 15%;
    }
  }

  @include media(sm) {
    width: 100%;
    height: 60%;
    margin: 2%;
    margin-left: 15%;
  }
}

.card {
  @include media(xs, sm) {
    @include orientation(portrait) {
      width: 30%;
      height: 30%;
    }

    @include orientation(landscape) {
      width: 20%;
      height: 100%;
    }
  }

  @include media(sm, xl) {
    width: 25%;
    height: 20%;
  }

  @include media(xl) {
    width: 20%;
    height: 35%;
  }
}
