@use "cardsStack.breakpoints" as *;

.stack {
  position: relative;
}

.card {
  position: absolute;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 0px 1rem $oslo-evening;
  border-radius: 0.6rem;
}
