.signupPage {
  position: relative;

  width: 100%;
  height: 100vh;
}

.darken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}
