@use "../../../../styles/abstracts" as *;

.heroText {
  @include media(xs, sm) {
    font-size: 80px;

    @include orientation(portrait) {
      margin-top: 120px;
      letter-spacing: 5px;
    }

    @include orientation(landscape) {
      margin-top: 0;
      letter-spacing: 16px;
    }
  }

  @include media(sm, md) {
    font-size: 100px;
    margin-top: 60px;
    letter-spacing: 10px;
  }

  @include media(md, lg) {
    font-size: 120px;
    margin-top: 80px;
    letter-spacing: 20px;
  }

  @include media(lg) {
    font-size: 120px;
    margin-top: 0;
    letter-spacing: 16px;
  }
}

.heroDescription {
  @include media(xs) {
    width: 80%;
    text-align: center;
    font-size: 16px;

    @include orientation(landscape) {
      font-size: 24px;
    }
  }

  @include media(lg) {
    font-size: 25px;
  }
}
