@use "sass:map";

@use "../../../../styles/abstracts" as *;

.heroText {
  @include media(xs, sm) {
    font-size: map.get($display-sizes, xs);

    @include orientation(portrait) {
      margin-top: map.get($display-sizes, md);
      letter-spacing: map.get($spacings, xs);
    }

    @include orientation(landscape) {
      margin-top: 0;
      letter-spacing: map.get($spacings, md);
    }
  }

  @include media(sm, md) {
    font-size: map.get($display-sizes, sm);
    margin-top: map.get($display-sizes, xxs);
    letter-spacing: map.get($spacings, sm);
  }

  @include media(md, lg) {
    font-size: map.get($display-sizes, md);
    margin-top: map.get($display-sizes, xs);
    letter-spacing: map.get($spacings, lg);
  }

  @include media(lg) {
    font-size: map.get($display-sizes, md);
    margin-top: map.get($display-sizes, md);
    letter-spacing: map.get($spacings, md);
  }
}

.heroDescription {
  @include media(xs) {
    width: 80%;
    text-align: center;
    font-size: map.get($font-sizes, md);

    @include orientation(landscape) {
      font-size: map.get($font-sizes, lg);
    }
  }

  @include media(lg) {
    font-size: map.get($font-sizes, xl);
  }
}
