@use "../../../styles/abstracts/index.scss" as *;

.form {
  padding: 12px;
  border-radius: 14px;

  @include media(xs, md) {
    @include orientation(portrait) {
      row-gap: 20px;
    }

    @include orientation(landscape) {
      row-gap: 0;
    }
  }

  @include media(md) {
    row-gap: 30px;
    padding: 16px;
    border-radius: 16px;
  }
}

.inputsSection {
  display: flex;
  padding: 12px;

  @include media(xs, sm) {
    @include orientation(portrait) {
      flex-direction: column;
      row-gap: 20px;
    }

    @include orientation(landscape) {
      flex-direction: row;
      column-gap: 20px;
    }
  }

  @include media(sm, md) {
    flex-direction: column;
    row-gap: 25px;
    padding: 20px;
  }

  @include media(md) {
    flex-direction: column;
    row-gap: 30px;
  }
}

.inputsGroup {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.formHeading {
  @include media(xs, sm) {
    font-size: 25px;

    @include orientation(landscape) {
      font-size: 20px;
    }
  }

  @include media(sm) {
    font-size: 35px;
  }

  @include media(md) {
    font-size: 40px;
  }
}

.loginLink {
  @include media(xs) {
    margin-left: 12px;
    font-size: 12px;
  }

  @include media(md) {
    margin-left: 0;
    font-size: 16px;
  }
}
