@use "./registrationForm.breakpoints.scss";

.form {
  display: flex;
  flex-direction: column;

  box-shadow: 1px 2px 16px #0006;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.6);
}

.formHeading {
  color: white;
  text-shadow: 0px 0px 26px #fffa;
  font-family: $scandic;
}

.formSubHeading {
  color: $french-police;
  font-family: $scandic;
}

.loginLink {
  font-family: $scandic;
  text-decoration: none;

  &:link {
    color: $iberia-sky;
  }

  &:visited {
    color: #c6f;
  }
}
