.page {
  width: 100%;
  height: 100vh;

  background-color: #222;

  display: flex;
  align-items: center;
  justify-content: center;
}

.signature {
  display: flex;
  column-gap: 20px;
  align-items: center;

  svg {
    opacity: 0;
    animation: fadeIn 3s ease infinite;
  }

  svg:nth-child(1) {
    animation-delay: 0s;
  }

  svg:nth-child(2) {
    animation-delay: 0.4s;
  }

  svg:nth-child(3) {
    animation-delay: 0.8s;
  }

  svg:nth-child(4) {
    animation-delay: 1.2s;
  }
}
