.card {
  position: absolute;

  color: $asphalt;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
  font-size: 0.8rem;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 0px 1rem $oslo-evening;
  font-family: $scandic;
  border-radius: 0.6rem;
  backdrop-filter: blur(1.4rem);
  -webkit-backdrop-filter: blur(1.4rem);

  &:nth-child(2) {
    transform: translateY(20px);
  }

  &:nth-child(3) {
    transform: translateY(40px);
  }

  &:nth-child(4) {
    transform: translateY(60px);
  }

  &:last-child {
    transform: translateY(80px);
  }
}
