@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    opacity: 1;
  }

  70% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}
